# compiled python
__pycache__

# large sample data files
data/

# files created by 'lex' and 'yacc'
parser.out
*.lexed

# emacs config file with user-specific settings
.dir-locals.el

# parser table saved
parsetab.py

# Wing5 user config file
*.wpu
.coverage
pylintrc
# emacs temp files
\#*
# node.js modules directory (useful tools)
node_modules/
# more coverage output
htmlcov/
