coverage
ipython
jedi
pylint
Sphinx
# pip-compile does not support packages with extras,
# below are packages from ipython[notebook]
ipykernel
jsonschema
jupyter-client
jupyter-core
mistune
nbconvert
nbformat
nose
notebook
numpydoc
ptyprocess
pyzmq
terminado
tornado
